---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/venue_id?oauth_token=oauth_token&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "171"
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
      X-Ex:
      - fastly_cdn
    body:
      encoding: US-ASCII
      string: "{\"meta\":{\"code\":200},\"notifications\":[{\"type\":\"notificationTray\",\"item\":{\"unreadCount\":0}}],\"response\":{\"venue\":{\"id\":\"venue_id\",\"name\":\"Mosaic Sales Solutions\",\"contact\":{\"twitter\":\"mosaicna\"},\"location\":{\"address\":\"100 Liberty St.\",\"lat\":43.63792664630825,\"lng\":-79.42476481873426,\"radius50\":16,\"radius90\":300,\"postalCode\":\"M6K 3L7\",\"city\":\"Toronto\",\"state\":\"ON\",\"country\":\"Canada\",\"cc\":\"CA\"},\"canonicalUrl\":\"https:\\/\\/foursquare.com\\/v\\/mosaic-sales-solutions\\/venue_id\",\"categories\":[{\"id\":\"4bf58dd8d48988d124941735\",\"name\":\"Office\",\"pluralName\":\"Offices\",\"shortName\":\"Corporate \\/ Office\",\"icon\":{\"prefix\":\"https:\\/\\/foursquare.com\\/img\\/categories_v2\\/building\\/default_\",\"suffix\":\".png\"},\"primary\":true}],\"verified\":true,\"stats\":{\"checkinsCount\":468,\"usersCount\":58,\"tipCount\":0},\"url\":\"http:\\/\\/www.mosaic.com\",\"likes\":{\"count\":1,\"groups\":[{\"type\":\"others\",\"count\":1,\"items\":[{\"id\":\"6825177\",\"firstName\":\"Alison\",\"lastName\":\"T.\",\"gender\":\"female\",\"photo\":{\"prefix\":\"https:\\/\\/irs2.4sqi.net\\/img\\/user\\/\",\"suffix\":\"\\/DW3PI2TBC5CB4WW3.jpg\"}}]}],\"summary\":\"Alison T\"},\"like\":false,\"dislike\":false,\"friendVisits\":{\"count\":1,\"summary\":\"You've been here\",\"items\":[{\"visitedCount\":7,\"liked\":false,\"user\":{\"id\":\"47216706\",\"firstName\":\"Joe\",\"lastName\":\"Mosaic\",\"gender\":\"male\",\"relationship\":\"self\",\"photo\":{\"prefix\":\"https:\\/\\/irs0.4sqi.net\\/img\\/user\\/\",\"suffix\":\"\\/blank_boy.png\"}}}]},\"beenHere\":{\"count\":7,\"marked\":true},\"specials\":{\"count\":0,\"items\":[]},\"photos\":{\"count\":16,\"groups\":[{\"type\":\"venue\",\"name\":\"Venue photos\",\"count\":16,\"items\":[{\"id\":\"50a66c82498e38a3121ca08e\",\"createdAt\":1353084034,\"source\":{\"name\":\"Instagram\",\"url\":\"http:\\/\\/instagram.com\"},\"prefix\":\"https:\\/\\/irs2.4sqi.net\\/img\\/general\\/\",\"suffix\":\"\\/photopath.jpg\",\"width\":612,\"height\":612,\"user\":{\"id\":\"1383760\",\"firstName\":\"Khaleed\",\"lastName\":\"J.\",\"gender\":\"male\",\"photo\":{\"prefix\":\"https:\\/\\/irs1.4sqi.net\\/img\\/user\\/\",\"suffix\":\"\\/ZP0WXOZNXQWBGM5I.jpg\"}},\"visibility\":\"public\"},{\"id\":\"51ba060f498e4a6d22f8e9fc\",\"createdAt\":1371145743,\"source\":{\"name\":\"foursquare for iPhone\",\"url\":\"https:\\/\\/foursquare.com\\/download\\/#\\/iphone\"},\"prefix\":\"https:\\/\\/irs3.4sqi.net\\/img\\/general\\/\",\"suffix\":\"\\/150695_9k-4vbHIvBcCDsbZczQMlqAOahoyhte0ruBtOcHOCXw.jpg\",\"width\":717,\"height\":959,\"user\":{\"id\":\"150695\",\"firstName\":\"S Brent\",\"lastName\":\"F.\",\"gender\":\"male\",\"photo\":{\"prefix\":\"https:\\/\\/irs2.4sqi.net\\/img\\/u[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/venue_id/herenow?oauth_token=oauth_token&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "18"
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
      X-Ex:
      - fastly_cdn
    body:
      encoding: US-ASCII
      string: "{\"meta\":{\"code\":200},\"notifications\":[{\"type\":\"notificationTray\",\"item\":{\"unreadCount\":0}}],\"response\":{\"hereNow\":{\"count\":1,\"items\":[{\"id\":\"51bb6224498e807919ff3678\",\"createdAt\":1371234852,\"type\":\"checkin\",\"timeZoneOffset\":-240,\"user\":{\"id\":\"47216706\",\"firstName\":\"Joe\",\"lastName\":\"Mosaic\",\"gender\":\"male\",\"relationship\":\"self\",\"photo\":{\"prefix\":\"https:\\/\\/irs0.4sqi.net\\/img\\/user\\/\",\"suffix\":\"\\/blank_boy.png\"}},\"likes\":{\"count\":0,\"groups\":[]},\"like\":false}]}}}"
  recorded_at: Fri, 14 Jun 2013 18:34:23 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/venue_id/photos?oauth_token=oauth_token&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "55"
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
      X-Ex:
      - fastly_cdn
    body:
      encoding: US-ASCII
[...]
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/4f26b5f7e4b06176468b447d?oauth_token=IXQKZUDCIA2NS1ETZPHEEWIFXIV1ZV2CZVFMXFLXEQHKUZ0N&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "92"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Remaining:
      - "487"
      X-Ex:
    [...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/4f26b5f7e4b06176468b447d/herenow?oauth_token=IXQKZUDCIA2NS1ETZPHEEWIFXIV1ZV2CZVFMXFLXEQHKUZ0N&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "27"
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
      X-Ex:
      - fastly_cdn
    body:
      encoding: US-ASCII
      string: "{\"meta\":{\"code\":200},\"notifications\":[{\"type\":\"notificationTray\",\"item\":{\"unreadCount\":0}}],\"response\":{\"hereNow\":{\"count\":1,\"items\":[{\"id\":\"51bb6224498e807919ff3678\",\"createdAt\":1371234852,\"type\":\"checkin\",\"timeZoneOffset\":-240,\"user\":{\"id\":\"47216706\",\"firstName\":\"Joe\",\"lastName\":\"Mosaic\",\"gender\":\"male\",\"relationship\":\"self\",\"photo\":{\"prefix\":\"https:\\/\\/irs0.4sqi.net\\/img\\/user\\/\",\"suffix\":\"\\/blank_boy.png\"}},\"likes\":{\"count\":0,\"groups\":[]},\"like\":false}]}}}"
  recorded_at: Fri, 14 Jun 2013 19:12:13 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/4f26b5f7e4b06176468b447d/photos?oauth_token=IXQKZUDCIA2NS1ETZPHEEWIFXIV1ZV2CZVFMXFLXEQHKUZ0N&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "41"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Remaining:
      - "485"
      X-E[...]
