---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/venue_id?oauth_token=oauth_token&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "171"
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
      X-Ex:
      - fastly_cdn
    body:
      encoding: US-ASCII
      string: "{\"meta\":{\"code\":200},\"notifications\":[{\"type\":\"notificationTray\",\"item\":{\"unreadCount\":0}}],\"response\":{\"venue\":{\"id\":\"venue_id\",\"name\":\"Mosaic Sales Solutions\",\"contact\":{\"twitter\":\"mosaicna\"},\"location\":{\"address\":\"100 Liberty St.\",\"lat\":43.63792664630825,\"lng\":-79.42476481873426,\"radius50\":16,\"radius90\":300,\"postalCode\":\"M6K 3L7\",\"city\":\"Toronto\",\"state\":\"ON\",\"country\":\"Canada\",\"cc\":\"CA\"},\"canonicalUrl\":\"https:\\/\\/foursquare.com\\/v\\/mosaic-sales-solutions\\/venue_id\",\"categories\":[{\"id\":\"4bf58dd8d48988d124941735\",\"name\":\"Office\",\"pluralName\":\"Offices\",\"shortName\":\"Corporate \\/ Office\",\"icon\":{\"prefix\":\"https:\\/\\/foursquare.com\\/img\\/categories_v2\\/building\\/default_\",\"suffix\":\".png\"},\"primary\":true}],\"verified\":true,\"stats\":{\"checkinsCount\":468,\"usersCount\":58,\"tipCount\":0},\"url\":\"http:\\/\\/www.mosaic.com\",\"likes\":{\"count\":1,\"groups\":[{\"type\":\"others\",\"count\":1,\"items\":[{\"id\":\"6825177\",\"firstName\":\"Alison\",\"lastName\":\"T.\",\"gender\":\"female\",\"photo\":{\"prefix\":\"https:\\/\\/irs2.4sqi.net\\/img\\/user\\/\",\"suffix\":\"\\/DW3PI2TBC5CB4WW3.jpg\"}}]}],\"summary\":\"Alison T\"},\"like\":false,\"dislike\":false,\"friendVisits\":{\"count\":1,\"summary\":\"You've been here\",\"items\":[{\"visitedCount\":7,\"liked\":false,\"user\":{\"id\":\"47216706\",\"firstName\":\"Joe\",\"lastName\":\"Mosaic\",\"gender\":\"male\",\"relationship\":\"self\",\"photo\":{\"prefix\":\"https:\\/\\/irs0.4sqi.net\\/img\\/user\\/\",\"suffix\":\"\\/blank_boy.png\"}}}]},\"beenHere\":{\"count\":7,\"marked\":true},\"specials\":{\"count\":0,\"items\":[]},\"photos\":{\"count\":16,\"groups\":[{\"type\":\"venue\",\"name\":\"Venue photos\",\"count\":16,\"items\":[{\"id\":\"50a66c82498e38a3121ca08e\",\"createdAt\":1353084034,\"source\":{\"name\":\"Instagram\",\"url\":\"http:\\/\\/instagram.com\"},\"prefix\":\"https:\\/\\/irs2.4sqi.net\\/img\\/general\\/\",\"suffix\":\"\\/photopath.jpg\",\"width\":612,\"height\":612,\"user\":{\"id\":\"1383760\",\"firstName\":\"Khaleed\",\"lastName\":\"J.\",\"gender\":\"male\",\"photo\":{\"prefix\":\"https:\\/\\/irs1.4sqi.net\\/img\\/user\\/\",\"suffix\":\"\\/ZP0WXOZNXQWBGM5I.jpg\"}},\"visibility\":\"public\"},{\"id\":\"51ba060f498e4a6d22f8e9fc\",\"createdAt\":1371145743,\"source\":{\"name\":\"foursquare for iPhone\",\"url\":\"https:\\/\\/foursquare.com\\/download\\/#\\/iphone\"},\"prefix\":\"https:\\/\\/irs3.4sqi.net\\/img\\/general\\/\",\"suffix\":\"\\/150695_9k-4vbHIvBcCDsbZczQMlqAOahoyhte0ruBtOcHOCXw.jpg\",\"width\":717,\"height\":959,\"user\":{\"id\":\"150695\",\"firstName\":\"S Brent\",\"lastName\":\"F.\",\"gender\":\"male\",\"photo\":{\"prefix\":\"https:\\/\\/irs2.4sqi.net\\/img\\/u[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/venue_id/herenow?oauth_token=oauth_token&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "18"
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
      X-Ex:
      - fastly_cdn
    body:
      encoding: US-ASCII
      string: "{\"meta\":{\"code\":200},\"notifications\":[{\"type\":\"notificationTray\",\"item\":{\"unreadCount\":0}}],\"response\":{\"hereNow\":{\"count\":1,\"items\":[{\"id\":\"51bb6224498e807919ff3678\",\"createdAt\":1371234852,\"type\":\"checkin\",\"timeZoneOffset\":-240,\"user\":{\"id\":\"47216706\",\"firstName\":\"Joe\",\"lastName\":\"Mosaic\",\"gender\":\"male\",\"relationship\":\"self\",\"photo\":{\"prefix\":\"https:\\/\\/irs0.4sqi.net\\/img\\/user\\/\",\"suffix\":\"\\/blank_boy.png\"}},\"likes\":{\"count\":0,\"groups\":[]},\"like\":false}]}}}"
  recorded_at: Fri, 14 Jun 2013 18:34:23 GMT
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/venue_id/photos?oauth_token=oauth_token&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "55"
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
      X-Ex:
      - fastly_cdn
    body:
      encoding: US-ASCII
[...]
[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/tips/tip_id?oauth_token=oauth_token&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "76"
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
      X-Ex:
      - fastly_cdn
    body:
      encoding: US-ASCII
      string: "{\"meta\":{\"code\":200},\"notifications\":[{\"type\":\"notificationTray\",\"item\":{\"unreadCount\":0}}],\"response\":{\"tip\":{\"id\":\"tip_id\",\"createdAt\":1264477738,\"text\":\"Get two slices and a can of soda for only $2.75!\",\"canonicalUrl\":\"https:\\/\\/foursquare.com\\/item\\/tip_id\",\"likes\":{\"count\":10,\"groups\":[{\"type\":\"others\",\"count\":10,\"items\":[]}],\"summary\":\"10 likes\"},\"like\":false,\"venue\":{\"id\":\"4a89cd2ff964a520100920e3\",\"name\":\"2 Bros. Pizza\",\"contact\":{\"phone\":\"2127770600\",\"formattedPhone\":\"(212) 777-0600\"},\"location\":{\"address\":\"32 Saint Marks Pl\",\"crossStreet\":\"btwn 2nd & 3rd Ave.\",\"lat\":40.72890363685293,\"lng\":-73.98815374890951,\"postalCode\":\"10003\",\"city\":\"New York\",\"state\":\"NY\",\"country\":\"United States\",\"cc\":\"US\"},\"canonicalUrl\":\"https:\\/\\/foursquare.com\\/v\\/2-bros-pizza\\/4a89cd2ff964a520100920e3\",\"categories\":[{\"id\":\"4bf58dd8d48988d1ca941735\",\"name\":\"Pizza Place\",\"pluralName\":\"Pizza Places\",\"shortName\":\"Pizza\",\"icon\":{\"prefix\":\"https:\\/\\/foursquare.com\\/img\\/categories_v2\\/food\\/pizza[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/tips/4b5e662a70c603bba7d790b4?oauth_token=oauth_token&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "71"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Remaining:
      - "492"
    body:
      encoding: US-ASCII
      string: "{\"me[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/venue_id/tips?oauth_token=oauth_token&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "77"
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
    body:
      encoding: ASCII-8BIT
      string: "{\"meta\":{\"code\":200},\"notifications\":[{\"type\":\"notificationTray\",\"item\":{\"unreadCount\":0}}],\"response\":{\"tips\":{\"count\":54,\"items\":[{\"id\":\"4d0594987ee8a0903e3df254\",\"createdAt\":1292211352,\"text\":\"Steamy, fresh slices for $1 = one of the best pizza deals in the city. For an even greater bargain, grab 2 slices and a soda for $2.75.\",\"url\":\"http:\\/\\/www.cheapism.com\\/p\\/cheap-new-york.mhtml\",\"canonicalUrl\":\"https:\\/\\/foursquare.com\\/item\\/4d0594987ee8a0903e3df254\",\"likes\":{\"count\":53,\"groups\":[{\"type\":\"others\",\"count\":53,\"items\":[]}],\"summary\":\"53 likes\"},\"like\":false,\"logView\":true,\"todo\":{\"count\":24},\"user\":{\"id\":\"4995109\",\"firstName\":\"Cheapism\",\"gender\":\"none\",\"photo\":{\"prefix\":\"https:\\/\\/irs3.4sqi.net\\/img\\/user\\/\",\"suffix\":\"\\/UVKUMW0USJDPXK0N.png\"},\"type\":\"page\"}},{\"id\":\"4b5e662a70c603bba7d790b4\",\"createdAt\":1264477738,\"text\":\"Get two slices and a can of soda for only $2.75!\",\"canonicalUrl\":\"https:\\/\\/foursquare.com\\/item\\/4b5e662a70c603bba7d790b4\",\"likes\":{\"count\":10,\"groups\":[{\"type\":\"others\",\"count\":10,\"ite[...]
- request:
    method: get
    uri: https://api.foursquare.com/v2/checkins/checkin_id?oauth_token=oauth_token&signature=checkin_signature&v=20130614
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - "48"
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
    body:
      encoding: US-ASCII
      string: "{\"meta\":{\"code\":200},\"notifications\":[{\"type\":\"notificationTray\",\"item\":{\"unreadCount\":0}}],\"response\":{\"checkin\":{\"id\":\"checkin_id\",\"createdAt\":1298300776,\"type\":\"checkin\",\"shout\":\"Another one of these days. #snow\",\"timeZoneOffset\":-300,\"user\":{\"id\":\"32\",\"firstName\":\"Dens\",\"gender\":\"male\",\"photo\":{\"prefix\":\"https:\\/\\/irs0.4sqi.net\\/img\\/user\\/\",\"suffix\":\"\\/32_1239135232.jpg\"}},\"venue\":{\"id\":\"408c5100f964a520c6f21ee3\",\"name\":\"Tompkins Square Park\",\"contact\":{\"phone\":\"2123877685\",\"formattedPhone\":\"(212) 387-7685\"},\"location\":{\"address\":\"E 7th St. to E 10th St.\",\"crossStreet\":\"btwn Ave. A & B\",\"lat\":40.7265107[...]
